# This is Git's per-user configuration file.
[user]
	email = d1nerbaba.onipededayo@gmail.com
# Please adapt and uncomment the following lines:
#	name = Onipede Joseph
#	email = onipededayo@gmail.com
#
